footer{
    width: 100%;
    height: 200px;
    background-color: rgb(17, 16, 16);
    display: flex;
    align-items: center;
    margin-top: 40px;

}
/*.container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

/*caso precise*/
.container-white{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container-white span, .container-white i{
    color: #00CE3D;
}

.container-white ul{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

/*LOGO PONTA AGROTEC*/
.container-white ul li:nth-of-type(1) img{
    object-fit: contain;
    width: 30vw;
    height: 5vw;
    margin-left: -50px;
}
/*****************/

/*Logo IFMS*/
.container-white ul li:nth-of-type(4) img{
    object-fit: contain;
    width:120px;
    height:120px;
    margin-left: 10px;
}


/*LOGO RISE*/
.container-white ul li:nth-of-type(5) img{
    object-fit: contain;
    width: 5vw;
    height: 7.4vw;
}



/**********/

.container-white .info span{
    display: block;
    text-transform: uppercase;
}


/*ICONES*/
.fa-instagram, .fa-facebook{
   transform: scale(1.7);
   margin-left: 25px;
}

.fa-map-marker-alt, .fa-at {
    transform: scale(1.7);
    margin-top: 20px;
}
/************/


/*MOBILE*/
@media screen and (max-width: 780px){
    footer{
        text-align: center;
        height: auto;
        padding: 30px 0;
    }
    .container-white ul{
        flex-direction: column;
    }
    .container-white ul li{
        padding: 15px 0;
    }

    .container-white ul li:nth-of-type(5) img{
        object-fit: contain;
        width: 8vw;
        height: 15vw;
    }
    .imagem-foot-rise{
        transform: rotate(90deg);
    }
}